<launch>

    <node name="virtual_tether" pkg="visual_virtual_tether" type="virtual_tether_main.py"/>

    <node name="virtuaL_tether_mallard_mixer" pkg="visual_virtual_tether" type="virtuaL_tether_mallard_mixer.py" output="screen">
        <rosparam file="$(find visual_virtual_tether)/params/mallard_mixer.yaml" command="load" />
        <param name="tag_yaw_offset" value="-1.57" />
    </node>

</launch>